.page-header {
    background: linear-gradient(to bottom, white -75%, #ff9400 90%, white 100%);
    margin-top: 20px;
    padding: 20px 20px 20px 40px;
    border-radius: 5%;
}
.page_header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    
}
.author {
    font-size: 16px;
    text-align: right;
}
.content {
    margin-left: 20%;
    text-align: left;
    margin-right: 20%;

}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
#title{
    color: white;
    font-size: 46px;
}
.page-header h1, a {
    text-align: center;

}
.date {
    float: right;
    color: #828282;
}
.save {
    float: right;
}

.post_form textarea, .post_form input {
    width: 100%;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    width: 100%;
    height: 70px;
    color: #ffffff;
    float: none;
    font-size: 18pt;
    padding-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.menu-element {
    width: 200px;
    height: 50px;
    float: left;
    text-align: center;
    margin: auto auto auto auto;

}
.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

div.top-menu {
        width: 100%;
        text-align: center;

}
ul.top {
        margin: 2px auto;

        line-height: 1.4;
}
li a, li a:hover, li a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Lobster';
}
ul.top, li {
        padding: 40px;
        display: inline;
        text-align: center;
        text-decoration: none;
}

div.news-title {
    border: 2px solid red;

}