
<ul id="top">

   <li><a class="home" href="/">Home</a></li>
   <li><a class="park" href="/park/">Parkingi</a></li>
   <li><a class="contact" href="/contact">Kontakt</a></li>
   <!--<li><a class="login" href="/login">Logowanie</a></li>-->
    {% if user.is_authenticated %}
    <li class="logged">  Zalogowany użytkownik: <b>{{ user.username }}</b>    <a href="/logout/">wyloguj się</a></li>
    {% else %}
      <li><a href="/login/">Zaloguj się</a></li>
        <li><a href="/register/">Rejestracja</a></li>
    {% endif %}
</ul>
